USE [master]
GO
/****** Object:  Database [web-crud-p]    Script Date: 20-Dec-19 7:50:56 PM ******/
CREATE DATABASE [web-crud-p]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'web-crud-p', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\web-crud-p.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'web-crud-p_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\web-crud-p_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [web-crud-p].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [web-crud-p]
GO
/****** Object:  Table [dbo].[TblStudent]    Script Date: 20-Dec-19 7:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblStudent] ON 

INSERT [dbo].[TblStudent] ([Id], [Name], [Description]) VALUES (1, N'Asif1', N'Feni sadar1')
SET IDENTITY_INSERT [dbo].[TblStudent] OFF
USE [master]
GO
